@model IAPL_Assignment.Data.Measurement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Measurement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilometer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kelvin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kelvin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fahrenherint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fahrenherint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hectare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hectare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.UnitName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Measurementid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
